{%extends 'index.html'%}
{%load crispy_forms_tags%}
{% block title %}Login{% endblock title %}

{%block content%}
<div class="container-fluid" style="margin-top:100px;">
    <div class="col-md-offset-4 col-md-4 mx-auto">

</div>
<div class="col-md-offset-4 col-md-4 mx-auto">
    <form method="POST" autocomplete="off">
        {% if messages %}
        {%for m in messages%}
        <div class="alert alert-{{m.tags}}">
            {{m}}
        </div>
        {%endfor%}
        {%endif%}
        
        {%csrf_token%}

        {{form|crispy}}
        <div class="col-md-offset-4 col-md-4 mx-auto">
        <button type="submit" class="btn btn-primary" >Login</button>
    </div>

    </form>
</div>


</div>




{%endblock%}

